.App {
  text-align: center;
  height: 100vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.header {
  background-color: #eee;
  padding: 30px;
  color: #888;
  font-size: 1.2rem;
}
.title, .footer-container {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer {
  padding-top: 20px;
  font-size: 0.8rem;
  color: #888;
}
.footer:hover {
  cursor: pointer;
  color: #333;
}
.footer span {
  font-size: 1.5rem;
  font-weight: 800;
}
