.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #eee;
  height: 150px;
  padding: 20px;
  color: #888;
  margin-bottom: 5vh;
}
.App-title {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.App-intro {
  font-size: large;
}
